h1 {
	background-color: purple;
    color: white;
	text-align: center;
}

.card {
	margin: 10px;
}
.colOne {
	background-color: whitesmoke;
	
}
.colTwo {
	background-color: rgb(255, 255, 255);
}

.icons {
	height: 70px;
	width: 70px;
}
.currentDate {
	font-size: 20px;
}